body{
  margin: 0;
}

canvas{
  border: 10px solid black;
  background-color: silver;
  
}

h2{
  padding-top: 10px;
  font-family: verdana;
  color: #cc9d13;
}

div{
  border:100px;
  background-color: rgba(244, 67, 54, 0.99);
  text-align: center;
}